.header {
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84,84,.7);
    max-width: 880px;
    width: 69%;
    margin-top: 45px;
}
@media screen and (max-width: 768px){
    .header {
        width: 85%;
        min-height: 64px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 460px){
    .header {
        width: 100%;
        min-height: 54px;
        margin-top: 28px;
    }
}