.profile__add-button {
    background-color: transparent;
    min-width: 150px;
    min-height: 50px;
    margin-left: auto;
    background-image: url("../../../images/add-button-image.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 985px) {
    .profile__add-button {
        width: 100%;
        margin: 16px 0 0 0;
    }
}
@media screen and (max-width: 650px) {
    .profile__add-button {
        margin: 33px 0 0 0;
        background-size: 16px 16px;
    }
}
