@font-face {
     font-family: "Inter";
     src: url("Inter/interregular.woff2") format("woff2"),
          url("Inter/interregular.ttf") format("truetype"),
          url("Inter/interregular.woff") format("woff");
     font-weight: 400;
     font-style: normal;
 }
 @font-face {
     font-family: "Inter";
     src: url("Inter/intermedium.woff2") format("woff2"),
          url("Inter/intermedium.ttf") format("truetype"),
          url("Inter/intermedium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
 }
 @font-face {
     font-family: "Inter";
     src: url("Inter/interblack.woff2") format("woff2"),
          url("Inter/interblack.ttf") format("truetype"),
          url("Inter/interblack.woff") format("woff");
     font-weight: 900;
     font-style: normal;
 }
 